header {
  
    background-image: url('https://www.rei.com/adventures/assets/adventures/images/trip/core/northamerica/tuh_hero');
    background-position: top;
    
}
.text-white{
    font-weight:700;

}

.save-btn{
    color: white !important;
}

.card-title{
    color: darkgray !important;
    font-weight:600;
    font-size:12px;
}

.card {
    background: #fff;
    border-radius: 2px;
    height: 330px;
    margin: 1rem;
    position: relative;
    width: 345px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
  }
.card-image-top {
    height: 100%;
    overflow: hidden;
    text-align: center;
    background:white;
}

.card-body{
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 10px;
}

.card-footer{
    margin-top: 0px;
    text-align: center;
}